//PC Escritorio y Notebooks
@include mediaLg {
  .proyectos {
    grid-template-columns: repeat(3, 1fr);
  }
  .experiencia-laboral {
    grid-template-columns: repeat(2, 1fr);
  }
  #experiencia-detalle {
    .espacio-header {
      height: 12rem;
    }
  }
  .lenguajes {
    grid-area: lenguajesbox;
    text-align: center;
    .recuadro-negro {
      .iconos-dev {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(8, 0.2fr);
        justify-content: center;
      }
    }
  }
}
