//Widescreens
@include mediaXl {
  .proyectos {
    grid-template-columns: repeat(4, 1fr);
  }
  #experiencia-detalle {
    .espacio-header {
      height: 50vh;
    }
  }
  .lenguajes {
    grid-area: lenguajesbox;
    text-align: center;
    .recuadro-negro {
      .iconos-dev {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(8, 0.2fr);
        justify-content: center;
      }
    }
  }
}
