//PC Escritorio y Notebooks
@include mediaLg {
  .proyectos {
    grid-template-columns: repeat(3, 1fr);
  }
  .experiencia-laboral {
    grid-template-columns: repeat(3, 2fr);
  }
  #experiencia-detalle {
    .espacio-header {
      height: 12rem;
    }
  }
  main#acerca {
    .lenguajes {
      .recuadro-negro {
        .iconos-dev {
          grid-template-columns: repeat(4, 0.2fr);
        }
      }
    }
  }
}
