//Celulares
@include mediaSm {
  main#inicio h1 {
    margin-top: 10vh;
  }
  h1,
  h2,
  h3 {
    margin: 0;
    font-weight: 300;

    &.lg-heading {
      font-size: 3rem;
    }
    &.sm-heading {
      margin-bottom: 2rem;
      padding: 0.2rem 1rem;
      background: rgba(lighten($primary-color, 2), 0.1);
    }
    .boxes {
      font-size: 1rem;
      font-weight: 300;
    }
  }

  main#contacto h1 {
    margin-top: 10vh;
  }
  h1,
  h2,
  h3 {
    margin: 0;
    font-weight: 300;

    &.lg-heading {
      font-size: 3rem;
    }
    &.sm-heading {
      margin-bottom: 2rem;
      padding: 0.2rem 1rem;
      background: rgba(lighten($primary-color, 2), 0.1);
    }
  }
  div.menu-izquierda {
    width: 0%;
  }
  ul.menu-opciones {
    float: none;
    width: 100%;
    min-height: 0;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-opciones {
    height: 100vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 16px;
  }
  .acerca-info {
    grid-template-areas:
      'acercaimagen'
      'bio'
      'linea-tiempo';
    grid-template-columns: 1fr;
  }
  .proyectos {
    grid-template-columns: 1fr;
  }
  .experiencia-laboral {
    grid-template-columns: 1fr;
  }
  #experiencia-detalle {
    .espacio-header {
      height: 3rem;
    }
  }
  .menu {
    .nav-link {
      font-size: 30px;
      font-weight: 300;
      color: set-text-color($primary-color);
    }
  }
}
